.footer 
  .footer__log 
    img(src='/img/logo-green.png' alt='Natours logo')
  ul.footer__nav 
    li: a(href='#') 关于我们
    li: a(href='#') 下载 App
    li: a(href='#') 成为导游
    li: a(href='#') 职业
    li: a(href='#') 联系
  p.footer__copyright &copy; by White Venus. Fell free to use this project for your own purpose, EXCEPT producing your own course or tutorials!