extends base 

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg 登陆到你的账户
      form.form.form--login
        .form__group
          label.form__label(for='email') 邮箱
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') 密码
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green(type="submit") 登陆

//- block jScript 
//-   script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.4/axios.min.js")
//-   script(src='/js/login.js')